{% extends "base.html" %}
{% block title %}{{ article.title }}{% endblock %}
{% block content %}


    <div class="blogItem">

        <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
        <h3>Le {{ article.locale_date }}</h3>
        {% if article.toc %}
            <div id="toc-article">
                <div class="toc-title">文章目录</div>
                {{ article.toc }}
            </div>
        {% endif %}

        {{ article.content }}
        {% include 'twitter.html' %}

        <h3 class="blogMeta">Par <a href="#">{{ article.author }}</a>, Catégorie : <a
                href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></h3>
        <h3 class="blogMeta">Tags : {% for tag in article.tags %}
            <span><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> / </span>
        {% endfor %}</h3>

    </div><!-- end #blogItem -->
    {% if USE_ISSO %}
        <div id="wrapper" style="width: 500px; text-align: left; margin-left: auto; margin-right: auto;">
            <script
                    data-isso-css="true"
                    data-isso="/isso/"
                    src="/isso/js/embed.min.js"
                    data-isso-lang="zh"
                    data-isso-vote="true">
            </script>

            <section id="isso-thread" data-title="{{ article.url }}"></section>
        </div>
    {% endif %}
    <ul>
        {% if article.prev_article %}
            <li>
                <a href="{{ SITEURL }}/{{ article.prev_article.url }}">
                    {{ article.prev_article.title }}
                </a>
            </li>
        {% endif %}
        {% if article.next_article %}
            <li>
                <a href="{{ SITEURL }}/{{ article.next_article.url }}">
                    {{ article.next_article.title }}
                </a>
            </li>
        {% endif %}
    </ul>
{% endblock %}
